[Pp]ackages/*
!repositories.config
*.swp
*.old
*.docstates
*.sln.cache
*.suo
*.user
*resharper.user
Sync*.dat
[Bb]in/
[Cc]ode[Dd]rop/
[Oo]bj/
_ReSharper.*/
*.scc
*.*scc
[Dd]eploy/
*.nupkg
Backup/
UpgradeLog.*
_UpgradeReport_Files/
*.orig
*.min.*
TestResult.xml
.svn/
